@inject SignInManager<IdentityUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<style>
    .custom-nav.active {
        background-image: linear-gradient(to left bottom, #f4ff00, #fede00, #ffbd00, #ff9b00, #fc7900, #fc7900, #fc7900, #fc7900, #ff9b00, #ffbd00, #fede00, #f4ff00) !important;
        color: white;
    }

    .custom-nav:hover {
        background-image: linear-gradient(to left bottom, #f4ff00, #fede00, #ffbd00, #ff9b00, #fc7900, #fc7900, #fc7900, #fc7900, #ff9b00, #ffbd00, #fede00, #f4ff00) !important;
        color: white;
    }

    .custom-nav{
        color: red;
    }
</style>



<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link custom-nav @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a></li>
    <li class="nav-item"><a class=" nav-link custom-nav @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">Email</a></li>
    <li class="nav-item"><a class=" nav-link custom-nav @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a></li>
    @*@if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">External logins</a></li>
    }
    <li class="nav-item"><a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">Two-factor authentication</a></li>*@
    <li class="nav-item"><a class=" nav-link custom-nav @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Delete Account</a></li>
</ul>
